:root {
    // Primary Colors
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --Dark-Gray: hsl(0, 0%, 55%);
    --Very-Dark-Gray: hsl(0, 0%, 41%);
    --font-family: "Josefin Sans";
}

* {
    box-sizing: border-box;
}

body,
p,
a,
ul,
li {
    margin: 0;
    padding: 0;
    text-decoration: none;
    overflow-x: hidden;
}

.joint-background {
    background-image: url(image-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    height: 40rem;
    // max-height: 450px;

    .navbar {
        margin-left: -15px;
        margin-right: -15px;
        button {
            margin-right: 9px;
        }
        .navbar-brand {
            font-size: 1.7rem;
            margin-left: 15px;
        }
        .nav-item {
            color: var(--White);
            padding: 15px;
        }
    }

    .navbar-nav {
        background-color: var(--Black);
        text-align: center;
    }

    .intr0duction-text {
        display: block;
        color: var(--White);
        border: 2px solid var(--Dark-Gray);
        border-right: 2px solid var(--White);
        margin-top: 150px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 30px;
    }
}

.section-one {
    margin-top: 50px;

    .section-one-image {
        display: block;
        img {
            width: 90%;
            margin-left: 20px;
            margin-right: 20px;
        }
    }
    .section-one-text {
        h1 {
            font-size: 1.9rem;
            font-family: var(--font-family);
            text-align: center;
            margin: 20px 20px;
            font-weight: 400;
        }
        h5 {
            font-family: Alata;
            font-weight: 400;
            font-size: 15px;
            margin-left: 55px;
            margin-right: 55px;
            text-align: center;
            color: var(--Dark-Gray);
        }
    }
}

.section-two {
    margin-top: 90px;
    h1 {
        font-size: 2.5rem;
        font-family: var(--font-family);
        font-weight: lighter;
        text-align: center;
        margin: 20px 20px;
        margin-bottom: 40px;
    }
    .section-two-images {
        img {
            width: 100%;
            margin-bottom: 20px;
            margin-left: 1px;
            margin-right: 0;
            text-align: center;
        }
        h5 {
            margin-top: -90px;
            margin-left: 20px;
            background-color: var(--Very-Dark-Gray);
            color: var(--White);
            font-family: var(--font-family);
            font-weight: 200;
            font-size: 1.5rem;
            width: 70%;
        }
        .spacing {
            margin-top: 40px;
        }
    }
    h6 {
        font-family: var(--font-family);
        text-align: center;
        margin-top: 70px;
        margin-left: 80px;
        margin-right: 80px;
        padding: 10px;
        font-size: 1rem;
        font-weight: bold;
        border: 1px solid var(--Black);
    }
    h6:hover {
        background-color: var(--Dark-Gray);
    }
}

.footer-mobile {
    background-color: var(--Black);
    color: var(--White);
    margin-top: 100px;
    h1 {
        padding-top: 50px;
        padding-bottom: 25px;
        text-align: center;
        font-family: Alata;
        font-size: 2.2rem;
        font-weight: bold;
    }
    ul {
        li {
            text-align: center;
            margin-bottom: 15px;
            font-family: Alata;
        }
        li:hover {
            background-color: var(--Dark-Gray);
        }
    }
    .social {
        text-align: center;
        margin-top: 25px;
        img {
            margin-right: 10px;
        }
        img:hover {
            background-color: var(--Very-Dark-Gray);
        }
    }
    h5 {
        margin-top: 20px;
        padding-bottom: 60px;
        font-family: var(--font-family);
        text-align: center;
        color: var(--Dark-Gray);
        font-size: 1rem;
    }
}

.section-two-desktop,
.desktop-view,
.footer-desktop {
    display: none;
}

@media screen and (min-width: 550px) {
    .joint-background {
        .intr0duction-text {
            margin-left: 50px;
            margin-right: 50px;
        }
    }
}

@media screen and (min-width: 720px) {
    .joint-background {
        .intr0duction-text {
            margin-left: 20px;
            margin-right: 80px;
        }
    }
}

@media screen and (min-width: 900px) {
    .section-two,
    .footer-mobile {
        display: none;
    }

    .desktop-view,
    .section-two-desktop,
    .footer-desktop {
        display: contents;
    }

    .joint-background {
        background-image: url(image-hero-desktop.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        overflow: hidden;
        height: 40rem;
        // max-height: 450px;

        .navbar {
            margin-left: 0;
            margin-right: 0;
            .navbar-brand {
                font-size: 1.7rem;
                margin-left: 190px;
                font-family: Alata;
            }
            .nav-item {
                color: var(--White);
                padding: 15px;
            }
            .nav-item:nth-child(5) {
                margin-right: 100px;
            }
        }

        .navbar-nav {
            background-color: transparent;
            text-align: center;
        }

        .intr0duction-text {
            display: block;
            color: var(--White);
            border: 2px solid var(--Dark-Gray);
            border-right: 2px solid var(--White);
            margin-top: 150px;
            margin-left: 200px;
            margin-right: 20px;
            padding: 30px;
            width: 30%;
            font-family: var(--font-family);
        }
    }

    .section-one {
        margin-top: 50px;
        margin-bottom: 90px;
        display: flex;
        text-align: center;
        .section-one-image {
            display: block;
            margin-left: 150px;
            img {
                width: 100%;
                margin-left: 150px;
                margin-right: 20px;
                height: 15rem;
            }
        }
        .section-one-text {
            display: block;
            margin-top: 0;
            margin-left: 150px;
            background: var(--White);
            h1 {
                font-size: 1.9rem;
                font-family: var(--font-family);
                text-align: left;
                margin: 20px 20px;
                margin-top: 30px;
                margin-left: 50px;
                font-weight: 400;
            }
            h5 {
                font-family: Alata;
                font-weight: 400;
                font-size: 15px;
                margin-left: 55px;
                margin-right: 55px;
                text-align: left;
                color: var(--Dark-Gray);
                width: 55%;
            }
        }
    }

    .section-two-desktop {
        .row {
            margin-left: 150px;
            margin-bottom: 0;
            h1 {
                font-size: 2.5rem;
                font-family: var(--font-family);
                font-weight: lighter;
                text-align: center;
            }
            h6 {
                width: 20%;
                margin-top: 10px;
                margin-left: 190px;
                border: 2px solid var(--Black);
                padding: 5px;
                padding-top: 7px;
                font-family: var(--font-family);
                text-align: center;
                font-size: 1rem;
                font-weight: bold;
            }
            h6:hover {
                background-color: var(--Dark-Gray);
            }
        }
        .section-two-images {
            .row {
                margin-right: 50px;
            }
            img {
                width: 100%;
                margin-bottom: 20px;
                margin-left: 1px;
                margin-right: 0;
            }
            h5 {
                margin-top: -110px;
                margin-left: 20px;
                background-color: var(--Very-Dark-Gray);
                color: var(--White);
                font-family: var(--font-family);
                font-weight: 200;
                font-size: 1.5rem;
                width: 80%;
            }
            .spacing {
                margin-top: 40px;
            }
        }
    }

    .footer-desktop {
        .row {
            background-color: var(--Black);
            color: var(--White);
            margin-top: 100px;
        }
        .first-col {
            margin-left: 150px;
            h1 {
                padding-top: 50px;
                padding-bottom: 25px;
                text-align: left;
                font-family: Alata;
                font-size: 2.2rem;
                font-weight: bold;
            }
            ul {
                li {
                    display: inline;
                    text-align: left;
                    margin-bottom: 15px;
                    font-family: Alata;
                    margin-right: 30px;
                }
                li:hover {
                    background-color: var(--Dark-Gray);
                }
            }
        }
        .second-col {
            .social {
                text-align: end;
                margin-top: 60px;
                img {
                    margin-right: 10px;
                }
                img:hover {
                    background-color: var(--Very-Dark-Gray);
                }
            }
            h5 {
                margin-top: 40px;
                padding-bottom: 60px;
                font-family: var(--font-family);
                text-align: end;
                color: var(--Dark-Gray);
                font-size: 1rem;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .section-two,
    .footer-mobile {
        display: none;
    }

    .desktop-view,
    .section-two-desktop,
    .footer-desktop {
        display: contents;
    }

    .joint-background {
        background-image: url(image-hero-desktop.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        overflow: hidden;
        height: 40rem;
        // max-height: 450px;

        .navbar {
            margin-left: 0;
            margin-right: 0;
            .navbar-brand {
                font-size: 1.7rem;
                margin-left: 190px;
                font-family: Alata;
            }
            .nav-item {
                color: var(--White);
                padding: 15px;
            }
            .nav-item:nth-child(5) {
                margin-right: 100px;
            }
        }

        .navbar-nav {
            background-color: transparent;
            text-align: center;
        }

        .intr0duction-text {
            display: block;
            color: var(--White);
            border: 2px solid var(--Dark-Gray);
            border-right: 2px solid var(--White);
            margin-top: 150px;
            margin-left: 200px;
            margin-right: 20px;
            padding: 30px;
            width: 30%;
            font-family: var(--font-family);
        }
    }

    .section-one {
        margin-top: 50px;
        margin-bottom: 90px;
        display: flex;
        text-align: center;
        .section-one-image {
            display: block;
            margin-left: 150px;
            img {
                width: 90%;
                margin-left: 200px;
                margin-right: 20px;
            }
        }
        .section-one-text {
            display: block;
            margin-top: 60px;
            margin-left: 90px;
            background: var(--White);
            h1 {
                font-size: 1.9rem;
                font-family: var(--font-family);
                text-align: left;
                margin: 20px 20px;
                margin-top: 30px;
                margin-left: 50px;
                font-weight: 400;
            }
            h5 {
                font-family: Alata;
                font-weight: 400;
                font-size: 15px;
                margin-left: 55px;
                margin-right: 55px;
                text-align: left;
                color: var(--Dark-Gray);
                width: 55%;
            }
        }
    }

    .section-two-desktop {
        .row {
            margin-left: 150px;
            margin-bottom: 0;
            h1 {
                font-size: 2.5rem;
                font-family: var(--font-family);
                font-weight: lighter;
                text-align: center;
            }
            h6 {
                width: 20%;
                margin-top: 10px;
                margin-left: 190px;
                border: 2px solid var(--Black);
                padding: 5px;
                padding-top: 7px;
                font-family: var(--font-family);
                text-align: center;
                font-size: 1rem;
                font-weight: bold;
            }
            h6:hover {
                background-color: var(--Dark-Gray);
            }
        }
        .section-two-images {
            .row {
                margin-right: 50px;
            }
            img {
                width: 100%;
                margin-bottom: 20px;
                margin-left: 1px;
                margin-right: 0;
            }
            h5 {
                margin-top: -100px;
                margin-left: 20px;
                background-color: var(--Very-Dark-Gray);
                color: var(--White);
                font-family: var(--font-family);
                font-weight: 200;
                font-size: 1.5rem;
                width: 80%;
            }
            .spacing {
                margin-top: 40px;
            }
        }
    }

    .footer-desktop {
        .row {
            background-color: var(--Black);
            color: var(--White);
            margin-top: 100px;
        }

        .first-col {
            margin-left: 150px;
            h1 {
                padding-top: 50px;
                padding-bottom: 25px;
                text-align: left;
                font-family: Alata;
                font-size: 2.2rem;
                font-weight: bold;
            }
            ul {
                li {
                    display: inline;
                    text-align: left;
                    margin-bottom: 15px;
                    font-family: Alata;
                    margin-right: 30px;
                }
                li:hover {
                    background-color: var(--Dark-Gray);
                }
            }
        }
        .second-col {
            .social {
                text-align: end;
                margin-top: 60px;
                img {
                    margin-right: 10px;
                }
                img:hover {
                    background-color: var(--Very-Dark-Gray);
                }
            }
            h5 {
                margin-top: 40px;
                padding-bottom: 60px;
                font-family: var(--font-family);
                text-align: end;
                color: var(--Dark-Gray);
                font-size: 1rem;
            }
        }
    }
}
